/*************************************************** 
    UTILITIES
****************************************************/
#logo {
    height: 75px;
}
/********************* 
    BACKGROUND COLORS
**********************/
.bg-green {
    background-color: #006C67;
}
/********************* 
    TEXT
**********************/

/********************* 
    CONTAINERS
**********************/
    
main .container-fluid {
        min-height: 400px;
    }